<div class="container">
  <div class="row g-3">
    {{#each movies}}
      <div class="col-sm-12 col-md-4 card">
        <img src={{poster}} class="w-100 h-100" />
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-info">Read more about {{name}}</a>
          <a href="#" class="btn btn-danger mt-3">Delete {{name}}</a>

        </div>
      </div>
    {{/each}}
  </div>
</div>